<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<!-- 指定 ehcache 的配置文件 -->
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>

	<!-- 配置进行授权和认证的 Realm -->
	<bean id="myRealm" class="com.movingcq.shiro.realm.MyRealm"></bean>

	<!-- 配置 Shiro 的 SecurityManager bean -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager" />
		<property name="sessionManager" ref="sessionManager" />
		<property name="realm" ref="myRealm" />
	</bean>

	<!-- 会话管理器 -->
	<bean id="sessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<!-- session的失效时长，单位毫秒 -->
		<property name="globalSessionTimeout" value="60000000" />
		<!-- 删除失效的session -->
		<property name="deleteInvalidSessions" value="true" />
	</bean>

	<!-- 配置 bean 的后置处理器：会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 配置 ShiroFilter bean：该 bean 的 id 必须和 web.xml 文件中配置的 shiro filter 的 name 
		一致 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 装配 securityManager -->
		<property name="securityManager" ref="securityManager" />
		<!-- 配置的登录页面 -->
		<property name="loginUrl" value="/login" />
		<!-- 登录成功后的页面 -->
		<property name="successUrl" value="/index" />
		<!-- 授权失败的页面 -->
		<property name="unauthorizedUrl" value="/view/err/forbidden.jsp" />
		<property name="filters">
			<map>
				<entry key="role">
					<bean class="com.movingcq.shiro.filter.RoleAuthorizationFilter"></bean>
				</entry>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/bootstrap/** = anon
				/css/** = anon
				/images/** = anon
				/js/** = anon
				/plugins/** = anon
				/themes/** = anon
				/** = anon
			</value>
		</property>
	</bean>
</beans>
